CREATE DATABASE QLTS
use QLTS
CREATE TABLE TAISAN
(
	SOHOADON NCHAR(10) NOT NULL,
	MATAISAN NCHAR(10)NOT NULL,
	TENTAISAN NVARCHAR(100)NOT NULL,
	MASOTAISAN NCHAR(10)NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,	
	SONAMKHAUHAO INT  NOT NULL,
	NGUYENGIA FLOAT  NOT NULL,
	MUCKHAUHAO FLOAT NOT NULL,
	DAKHAUHAO FLOAT  NULL,
	CONLAI FLOAT  NULL,	
	MADIADIEM NCHAR(10) NOT NULL,
	MAPHONGBAN NCHAR (10) NOT NULL,
	NUOCSX NVARCHAR(100) NULL,
	NAMSX DATETIME NULL,
	MALYDOTANGGIAM NCHAR(10) NULL,
	NGAYTANG DATETIME  NULL,
	NGAYKHAUHAO DATETIME NULL,	
	DIEUCHINHTANG FLOAT  NULL,
	GIATRISAUKHITANGGIAM FLOAT  NULL,
	MAMUCDICHSUDUNG NCHAR (10) NULL,
	NGAYDIEUCHINH DATETIME NULL,	
	GHICHU NVARCHAR (200) NULL,	

	PRIMARY KEY(MATAISAN)
)

INSERT INTO TAISAN(SOHOADON,MATAISAN,TENTAISAN,MANHOMTAISAN,MADONVITINH
,SONAMKHAUHAO,NGUYENGIA,MUCKHAUHAO,DAKHAUHAO,CONLAI,MADIADIEM,MAPHONGBAN
,NUOCSX,NAMSX,LYDOTANG,NGAYTANG,NGAYKHAUHAO
,DIEUCHINHTANG,GIATRISAUKHITANGGIAM,MUCDICHSUDUNG,NGAYDIEUCHINH,GHICHU)
	VALUES('HD01',N'TS0001',N'MAY IN',N'NHOM01',N'C01',
N'2',N'2000000',N'5',N'10',N'90',N'HS',N'PHC01'
,N'VN',2/5/2008,N'MUA MOI',N'2/05/2009',N'2/05/2009',
N'500000',N'2500000',N'NGHIEP VU',N'2/05/2009',N'TAI SAN')

CREATE TABLE NHOMTAISAN
(
	MASOTAISAN NCHAR (10) NOT NULL,
	MANHOMTAISAN NCHAR (10) NOT NULL,	
	TENNHOMTAISAN NVARCHAR (100) NOT NULL,	

	PRIMARY KEY (MASOTAISAN)
)

CREATE TABLE DONVITINH
(
	MADONVITINH NCHAR (10) NOT NULL,
	TENDONVITINH NVARCHAR (100) NOT NULL,

	PRIMARY KEY (MADONVITINH)
)


CREATE TABLE DIADIEM
(	
	MADIADIEM NCHAR (10) NOT NULL,
	TENDIADIEM NVARCHAR (100) NOT NULL,
	DIACHI NVARCHAR (100) NOT NULL,
	SODIENTHOAI  NCHAR (12) NOT NULL,	
	
	PRIMARY KEY (MADIADIEM)
)
INSERT INTO DIADIEM(MADIADIEM,TENDIADIEM,DIACHI,SODIENTHOAI)
	VALUES('HS01',N'HỘI SỞ',N'LONG XUYÊN',N'0763644862')

CREATE TABLE PHONGBAN
(
	MADIADIEM NCHAR (10)NOT NULL,	
	MAPHONGBAN NCHAR (10) NOT NULL,	
	TENPHONGBAN NVARCHAR (100) NOT NULL,
	SODIENTHOAI NCHAR(12) NOT NULL,
	
	PRIMARY KEY (MAPHONGBAN)
)
INSERT INTO PHONGBAN(MADIADIEM,MAPHONGBAN,TENPHONGBAN,SODIENTHOAI)
	VALUES('HS01',N'P0001',N'Giam doc',N'0763644862')







CREATE TABLE TAISANPHANTRAM
(
	SOHOADON NCHAR(10) NOT NULL,
	MATAISAN NCHAR(10)NOT NULL,
	TENTAISAN NVARCHAR(100)NOT NULL,
	MASOTAISAN NCHAR(10)NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,	
	SOLUONG INT  NOT NULL,
	NGUYENGIA FLOAT  NOT NULL,
	MUCKHAUHAO FLOAT NOT NULL,
	DAKHAUHAO FLOAT  NULL,
	CONLAI FLOAT  NULL,	
	MADIADIEM NCHAR(10) NOT NULL,
	MAPHONGBAN NCHAR (10) NOT NULL,
	NUOCSX NVARCHAR(100) NULL,
	NAMSX DATETIME NULL,
	LYDOTANG NVARCHAR(100) NULL,
	NGAYTANG DATETIME  NULL,
	NGAYKHAUHAO DATETIME NULL,	
	DIEUCHINHTANG FLOAT  NULL,
	GIATRISAUKHITANGGIAM FLOAT  NULL,
	MAMUCDICHSUDUNG NVARCHAR(100) NULL,
	NGAYDIEUCHINH DATETIME NULL,	
	GHICHU NVARCHAR (200) NULL,	

	PRIMARY KEY(MATAISAN)
)


CREATE TABLE THANHLYTAISAN
(
	MATHANHLYTAISAN NCHAR (10) NOT NULL,
	SOHOADON NCHAR (10) NULL,
	MATAISAN NCHAR(10)NOT NULL,
	TENTAISAN NVARCHAR(100)NOT NULL,
	MANHOMTAISAN NCHAR(10)NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,
	CONLAI FLOAT NOT NULL,
	MADIADIEM NCHAR(100) NOT NULL,
	MAPHONGBAN NCHAR (10) NOT NULL,
	SOLUONG INT  NOT NULL,
	GIABAN FLOAT  NOT NULL,
	TONGTIEN FLOAT NOT NULL,	
	NGAYTHANHLY DATETIME NULL,	
	GHICHU NVARCHAR (200) NULL,
	
	
	PRIMARY KEY(MATAISAN)
)


CREATE TABLE THUETAISANCONGCU
(
	MAPHIEUTHUE NCHAR (10) NOT NULL,
	MATAISANCONGCU NCHAR(10)NOT NULL,		
	TENTAISANCONCU NVARCHAR(100)NOT NULL,
	MANHOM NCHAR(10)NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,
	SOLUONG INT  NOT NULL,
	GIATHUE FLOAT  NOT NULL,
	DATHANHTOAN FLOAT NULL, 
	CONLAI FLOAT  NULL,
	MADIADIEM NCHAR(10) NOT NULL,
	MAPHONGBAN NCHAR (10)NOT NULL,	
	LYDOTANG NVARCHAR(100) NULL,
	NGAYTANG DATETIME  NULL,	
	THOIGIANSUDUNG DATETIME  NOT NULL,	
	MAMUCDICHSUDUNG NVARCHAR(100) NULL,
	GHICHU NVARCHAR (200) NULL,
	

	PRIMARY KEY(MAPHIEUTHUE)
)

CREATE TABLE CONGCU
(
	SOHOADON NCHAR(100)  NULL,
	MACONGCU NCHAR(10)NOT NULL,
	TENCONGCU NVARCHAR(100)NOT NULL,
	MANHOMCONCU NCHAR(10)NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,
	SOLUONG INT  NOT NULL,
	NGUYENGIA FLOAT  NOT NULL,
	MUCKHAUHAO FLOAT NOT NULL,
	DAKHAUHAO FLOAT  NULL,
	CONLAI FLOAT  NULL,
	MADIADIEM NCHAR(100) NOT NULL,
	MAPHONGBAN NCHAR (10) NOT NULL,
	MAMUCDICHSUDUNG NVARCHAR(100) NULL,
	NUOCSX NVARCHAR(100) NULL,
	NAMSX DATETIME NULL,
	LYDOTANG NVARCHAR(100) NULL,
	NGAYTANG DATETIME  NULL,	
	DIEUCHINHTANG FLOAT  NULL,
	GIATRISAUKHITANGGIAM FLOAT  NULL,
	HANSUDUNG INT NOT NULL,		
	

	PRIMARY KEY(MACONGCU)
)

CREATE TABLE NHOMCONGCU
(
	CAPBAT NCHAR (10) NOT NULL,
	MANHOMCONGCU NCHAR (10) NOT NULL,
	TENNHOMCONGCU NVARCHAR (100) NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,

	PRIMARY KEY (MANHOMCONGCU)
)

CREATE TABLE THANHLYCONGCU
(
	MATHANHLYCONGCU NCHAR (10) NOT NULL,
	SOHOADON NCHAR (10) NULL,
	MACONCU NCHAR(10)NOT NULL,
	TENCONGCU NVARCHAR(100)NOT NULL,
	MANHOMCONGCU NCHAR(10)NOT NULL,
	MADONVITINH NCHAR(10)NOT NULL,
	CONLAI FLOAT NOT NULL,
	MADIADIEM NCHAR(100) NOT NULL,
	MAPHONGBAN NCHAR (10) NOT NULL,
	SOLUONG INT  NOT NULL,
	GIABAN FLOAT  NOT NULL,
	TONGTIEN FLOAT NOT NULL,	
	NGAYTHANHLY DATETIME NULL,	
	GHICHU NVARCHAR (200) NULL,

	PRIMARY KEY(MACONGCU)
)

CREATE TABLE NHANVIEN
(
	MANHANVIEN NCHAR (10) NOT NULL,
	TENNHANVIEN NCHAR (100)NOT NULL,
	MAPHONGBAN NCHAR (10) NOT NULL,
	TENDANGNHAP NCHAR(100)NOT NULL,
	MATKHAU NCHAR(100) NULL,
		
	PRIMARY KEY(MANHANVIEN)
)

CREATE TABLE TAISANCHOTHANHLY
(	
	MATAISAN NCHAR (10) NOT NULL,
	TENTAISAN NVARCHAR (100) NOT NULL,
	LYDO NVARCHAR(200) NOT NULL,	
	NGAYGIAM DATETIME NULL,	
)
CREATE TABLE TAISANTHOIKHAUHAO
(		
	MATAISAN NCHAR (10) NOT NULL,
	TENTAISAN NVARCHAR (100) NOT NULL,
	LYDO NVARCHAR(200) NOT NULL,	
	NGAYGIAM DATETIME NULL,
)

CREATE TABLE LYDOTANGGIAM
(	
	MALYDOTANGGIAM NCHAR (10) NOT NULL,
	TENLYDOTANGGIAM NVARCHAR (100) NOT NULL,
	GIATRI	INT NOT NULL,
	
	PRIMARY KEY(MALYDOTANGGIAM)
)

CREATE TABLE MUCDICHSUDUNG
(	
	MAMUCDICHSUDUNG NCHAR (10) NOT NULL,
	TENMUCDICHSUDUNG NVARCHAR (100) NOT NULL,
	
	PRIMARY KEY(MAMUCDICHSUDUNG)
)


CREATE TABLE DIEUCHINHTAISAN
(		
	NGAYDIEUCHINH DATETIME NULL,
	MATAISAN NCHAR (10) NOT NULL,
	TENTAISAN NVARCHAR (100) NOT NULL,
	LYDO NVARCHAR(200) NOT NULL,
	SOTIEN	FLOAT NOT NULL,
	DIENGIAI NVARCHAR NULL,	
	
)



ALTER TABLE PHONGBAN ADD CONSTRAINT FK_PHONGBAN_DIADIEM
	FOREIGN KEY(MADIADIEM) REFERENCES DIADIEM(MADIADIEM)
------------------------------------------------------------------------------

ALTER TABLE TAISAN ADD CONSTRAINT FK_TAISAN_PHONGBAN
	FOREIGN KEY(MAPHONGBAN) REFERENCES PHONGBAN(MAPHONGBAN)

ALTER TABLE TAISAN ADD CONSTRAINT FK_TAISAN_DIADIEM
	FOREIGN KEY(MADIADIEM) REFERENCES DIADIEM(MADIADIEM)

ALTER TABLE TAISAN ADD CONSTRAINT FK_TAISAN_DONVITINH
	FOREIGN KEY(MADONVITINH) REFERENCES DONVITINH(MADONVITINH)
---
ALTER TABLE TAISAN ADD CONSTRAINT FK_TAISAN_LYDOTANGGIAM
	FOREIGN KEY(MALYDOTANGGIAM) REFERENCES LYDOTANGGIAM(MALYDOTANGGIAM)


ALTER TABLE TAISAN ADD CONSTRAINT FK_TAISAN_NHOMTAISAN
	FOREIGN KEY(MASOTAISAN) REFERENCES NHOMTAISAN(MASOTAISAN)

ALTER TABLE TAISAN ADD CONSTRAINT FK_TAISAN_MUCDICHSUDUNG
	FOREIGN KEY(MAMUCDICHSUDUNG) REFERENCES MUCDICHSUDUNG(MAMUCDICHSUDUNG)
-----------------------------------------------------------------------------



-----------------------------------------------------------------------------
ALTER TABLE TAISANPHANTRAM ADD CONSTRAINT FK_TAISANPHANTRAM _PHONGBAN
	FOREIGN KEY(MAPHONGBAN) REFERENCES PHONGBAN(MAPHONGBAN)

ALTER TABLE TAISANPHANTRAM ADD CONSTRAINT FK_TAISANPHANTRAM _DIADIEM
	FOREIGN KEY(MADIADIEM) REFERENCES DIADIEM(MADIADIEM)

ALTER TABLE TTAISANPHANTRAM  ADD CONSTRAINT FK_TAISANPHANTRAM _DONVITINH
	FOREIGN KEY(MADONVITINH) REFERENCES DONVITINH(MADONVITINH)

ALTER TABLE TAISANPHANTRAM  ADD CONSTRAINT FK_TAISANPHANTRAM _NHOMTAISAN
	FOREIGN KEY(MANHOMTAISAN) REFERENCES NHOMTAISAN(MANHOMTAISAN)
-----------------------------------------------------------------------------

ALTER TABLE DIEUCHINHTAISAN ADD CONSTRAINT FK_DIEUCHINHTAISAN_TAISAN
	FOREIGN KEY(MATAISAN) REFERENCES TAISAN(MATAISAN)

-------------------------------------------------------------------------------



ALTER TABLE MANHOM ADD CONSTRAINT FK_TAISAN_MANHOM
	FOREIGN KEY(MANHOM) REFERENCES TAISAN(MATAISAN)


ALTER TABLE TableSach ADD CONSTRAINT FK_TableSach_TableLoaiSach
	FOREIGN KEY(MaLoaiSach) REFERENCES TableLoaiSach(MaLoaiSach)

ALTER TABLE TableSach ADD CONSTRAINT FK_TableSach_TableNhaCungCap
	FOREIGN KEY(MaNhaCungCap) REFERENCES TableNhaCungCap(MaNhaCungCap)

