<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbConnectionString" value="data source=servergv;initial catalog=dataacc;user id=quanlythuchi;password=quanlythuchi;" />
    <add key="NameCompany" value="BHXH Quận Gò Vấp" />
    <add key="NameHead" value="BHXH TP Hồ Chí Minh" />
  </appSettings>
</configuration>