<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionStringName" connectionString="server=.\SQLEXPRESS;database=QuanLyGioThucHanh;integrated security=true" />
    <add name="DoAn_K32.Properties.Settings.QuanLyGioThucHanhConnectionString"
      connectionString="Data Source=WIN7-64BIT-PC\SQLEXPRESS;Initial Catalog=QuanLyGioThucHanh;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>